<div>
  <form [formGroup]="todosForm">
    <label>
      Todo:
      <input type="text" formControlName="todo">
    </label>
    <label>
      Insert:
      <input type="checkbox" formControlName="insert">
    </label>
  </form>
</div>

<p>
  <button (click)="addTodo()">Add Todo</button>
</p>

<div *ngFor="let i of todos$ | async">
  {{i.todo}}
</div>
