<button (click)="increment()">Increment</button>

<button (click)="decrement()">Decrement</button>

<button (click)="power()">Power 2</button>

<button (click)="reset()">Reset Counter</button>

<div>Current Count: {{ count$ | async }}</div>


